# Q1. Convert an integer to a floatingâ€”point number.

In [3]:
#Let assign to a any integer number
a = 10
b = float(a)
print(b)
print(type(b))

10.0
<class 'float'>

# Q2. Convert a float to an integer.

In [4]:
# Let assign to f a float number
f = 20.0
i = int(f)
print(i)
print (type(i))

20
<class 'int'>

# Q3. Convert an integer to a string.

In [5]:
# Let assign i an integer
i = 10
s = str(i)
print(s)
print (type(s))

10
<class 'str'>

# Q4. Convert a list to a tuple.

In [6]:
# let a list t
l = [10,12,12.5,"Hello","Rahul"]
t = tuple(l)
print (t)
print (type(t))

(10, 12, 12.5, 'Hello', 'Rahul')
<class 'tuple'>

# Q5. Convert a tuple to a list.

In [7]:
# Let a tuple
t = (12,15,20.10, "World", "PWSki11s")
l = list(t)
print(l)
print(type(l))

[12, 15, 20.1, 'World', 'PWSki11s']
<class 'list'>

# Q6. Convert a decimal number to binary.

In [10]:
# Let d is a decimal number
d = 6
b = bin(d)
print(b)

0b110

# Q7. Convert a non-zero number to boolean.

In [11]:
# let assign 1 to a
a = 1
bool(a)

True